<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectKappa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ProjectKappa.Properties.Settings>
            <setting name="LAStoolsRoot" serializeAs="String">
                <value>unset</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>TRACE</value>
            </setting>
            <setting name="LASFilesRoot" serializeAs="String">
                <value>unset</value>
            </setting>
            <setting name="QGISRoot" serializeAs="String">
                <value>unset</value>
            </setting>
        </ProjectKappa.Properties.Settings>
    </userSettings>
</configuration>